
#profile {
    position: relative;
    margin: 50px;
    padding: 20px;
    float: left;
    height: 340px;
    width: 340px;
}

#interview {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

